body {
  font-family: "Montserrat", sans-serif;
  color: #015a92;
}

/* Pop up  */

.popup-welcome,
.popup-rules,
.popup-keys,
.popup-rules-level2 {
  width: 700px;
  height: 450px;
  position: fixed;
  background-color: white;
  color: #015a92;
  border: 10px solid #fecc02;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 30px;
  border-radius: 4px;
}

.popup-end-win,
.popup-end-win-level2 {
  width: 700px;
  height: 250px;
  position: fixed;
  background-color: #1da676;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 30px;
  border-radius: 4px;
}

.popup-end-lose-level1,
.popup-end-lose-level2 {
  width: 700px;
  height: 200px;
  position: fixed;
  background-color: #e20037;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 30px;
  border-radius: 4px;
}

.popup-end-win-level2 {
  height: 400px;
}

.popup-top {
  margin-top: 30px;
}

.active {
  display: none;
}

.popup-div {
  margin-bottom: 10px;
}

.points-rule {
  font-size: 30px;
}

/* Button */
/* ------ */

.btn-rules,
.btn-keys,
.btn-play,
.btn-play-level2,
.btn-play-again-level1,
.btn-play-again-level2,
.btn-next-level {
  background-color: #015a92;
  color: white;
  border-color: #015a92;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

/* Color */
/* ------ */

.yellow {
  color: #fecc02;
  font-weight: 800;
}

.green {
  color: #1da676;
  font-weight: 800;
}

/* --------- */

.flex-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #015a92;
  text-align: center;
  padding: 2px 0 2px 0;
  margin-bottom: 20px;
  opacity: 0;
  height: 50px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 27px;
}

.flex-middle {
  display: flex;
  justify-content: space-around;
  color: #015a92;
  opacity: 0;
}

.canvas {
  border: 4px solid #015a92;
  border-radius: 4px;
}

.flex-score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #015a92;
  color: white;
  width: 300px;
  height: 458px;
  border: 4px solid #015a92;
  padding: 5px;
  border-radius: 4px;
}

.points {
  font-size: 100px;
  color: white;
}

.lives {
  font-size: 30px;
  color: #fecc02;
}

/* 
Level Score
---------------------------------------------------------
*/

.level1 {
  display: block;
}

.level2 {
  display: none;
}

.level {
  font-size: 30px;
  margin: 25px 0;
}

.flex-trashbin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  border-radius: 4px;
}

.yellow-score {
  background-color: white;
  border: 2px solid #fecc02;
  color: #015a92;
  width: 80px;
  height: 120px;
  border-radius: 4px;
}

.green-score {
  background-color: white;
  border: 2px solid #1da676;
  color: #015a92;
  width: 80px;
  height: 120px;
  border-radius: 4px;
}

.white-score {
  background-color: white;
  border: 2px solid #9d9d9d;
  color: #015a92;
  width: 80px;
  height: 120px;
  border-radius: 4px;
}

.yellow-points,
.green-points,
.white-points,
.total-lives {
  margin: 10px 0;
  font-size: 30px;
}

.total-lives {
  color: #fecc02;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #015a92;
  text-align: center;
  margin-top: 20px;
  height: 50px;
  opacity: 0;
}
